In [1]:
import pandas as pd
import numpy as np
import re
import dataframe_image as dfi
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
%matplotlib notebook

import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [2]:
gmaps.configure(api_key='AIzaSyCzgOsIsTjxW0ade2uuMidBYOmi1eRPCiY')

In [3]:
df = pd.read_csv('../data/bayut/cleaned/ready_flats_undervalued.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2363 entries, 0 to 2362
Data columns (total 32 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2363 non-null   int64
 1   URL              2363 non-null   object
 2   building         1173 non-null   object
 3   district         2363 non-null   object
 4   neighborhood     2322 non-null   object
 5   price            2363 non-null   int64
 6   beds             2363 non-null   float64
 7   baths            2363 non-null   int64
 8   surface          2363 non-null   float64
 9   lat              2363 non-null   float64
 10  long             2363 non-null   float64
 11  highlights       2363 non-null   object
 12  furnishing       1499 non-null   object
 13  amenities        2363 non-null   object
 14  completion_year  2363 non-null   int64
 15  floor            63 non-null     float64
 16  price_sqf        2363 non-null   float64
 17  views            2363 non-null   int64
 18  discounted       2363 non-null   int64
 19  cheap            2363 non-null   int64
 20  distressed       2363 non-null   int64
 21  investment       2363 non-null   int64
 22  tenanted         2363 non-null   int64
 23  vacant           2363 non-null   int64
 24  metro            2363 non-null   int64
 25  furnished        2363 non-null   int64
 26  condition        2363 non-null   int64
 27  upgraded         46 non-null     object
 28  luxury           2363 non-null   int64
 29  median_sqf       2363 non-null   float64
 30  diff_percent     2363 non-null   float64
 31  valuation        2363 non-null   object
dtypes: float64(8), int64(15), object(9)
memory usage: 590.9+ KB

In [4]:
df1 = df[['lat', 'long', 'price_sqf']]
df1 = df1.rename({'lat':'X', 'long':'Y'}, axis='columns')
df1.head()

           X          Y    price_sqf
0  25.047142  55.206906   482.315113
1  25.193583  55.285234  1502.727231
2  25.110662  55.141861  1040.000000
3  25.109089  55.144157  1164.596273
4  25.089626  55.148014  1102.361890

In [5]:
df1.to_csv('../data/bayut/cleaned/undervalued_map_rflats_coordinates.csv')

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/jukuznets/spb-rentals/main/undervalued_map_rflats_coordinates.csv')
data = data.drop('Unnamed: 0', axis=1)
data.head()

           X          Y    price_sqf
0  25.047142  55.206906   482.315113
1  25.193583  55.285234  1502.727231
2  25.110662  55.141861  1040.000000
3  25.109089  55.144157  1164.596273
4  25.089626  55.148014  1102.361890

In [7]:
figure_layout = {
    'width': '100%',
    'height': '75vh'
}

locations = data[['X', 'Y']]
weights = data['price_sqf']
coordinates = (25.2048, 55.2708)

fig = gmaps.figure(center=coordinates, 
                   zoom_level=10, 
                   map_type='HYBRID', 
                   layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(locations, 
                                  weights=weights, 
                                  point_radius=5, 
                                  max_intensity=3000))
fig

Figure(layout=FigureLayout(height='75vh', width='100%'))

In [8]:
embed_minimal_html('../data/bayut/cleaned/undervalued_map_rflats.html', views=[fig])