In [1]:
import pandas as pd
import numpy as np
import re
import dataframe_image as dfi
from matplotlib import pyplot as plt
import seaborn as sns
sns.set()
%matplotlib notebook

import gmaps
import gmaps.datasets
from ipywidgets.embed import embed_minimal_html

In [2]:
gmaps.configure(api_key='AIzaSyCzgOsIsTjxW0ade2uuMidBYOmi1eRPCiY')

In [3]:
df = pd.read_csv('../data/bayut/cleaned/ready_flats_valuation.csv')
overvalued = df[(df['valuation'] == 'overvalued') | (df['valuation'] == 'highly overvalued')]

In [4]:
overvalued = overvalued[['lat', 'long', 'price_sqf']]
overvalued = overvalued.rename({'lat':'X', 'long':'Y'}, axis='columns')
overvalued.head()

            X          Y    price_sqf
9   25.078537  55.136358  1797.175866
15  25.071367  55.124955  2352.941176
27  25.077889  55.155662  1997.649824
33  25.077889  55.155662  2103.559871
36  25.193638  55.279085  4792.147806

In [5]:
overvalued.to_csv('../data/bayut/cleaned/overvalued_map_rflats_coordinates.csv')

In [6]:
data = pd.read_csv('https://raw.githubusercontent.com/jukuznets/spb-rentals/main/overvalued_map_rflats_coordinates.csv')
data = data.drop('Unnamed: 0', axis=1)
data.head()

           X          Y    price_sqf
0  25.078537  55.136358  1797.175866
1  25.071367  55.124955  2352.941176
2  25.077889  55.155662  1997.649824
3  25.077889  55.155662  2103.559871
4  25.193638  55.279085  4792.147806

In [7]:
figure_layout = {
    'width': '100%',
    'height': '75vh'
}

locations = data[['X', 'Y']]
weights = data['price_sqf']
coordinates = (25.2048, 55.2708)

fig = gmaps.figure(center=coordinates, 
                   zoom_level=10, 
                   map_type='HYBRID', 
                   layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(locations, 
                                  weights=weights, 
                                  point_radius=5, 
                                  max_intensity=3000))
fig

Figure(layout=FigureLayout(height='75vh', width='100%'))

In [8]:
embed_minimal_html('../data/bayut/cleaned/overvalued_map_rflats.html', views=[fig])